.page-container {
  background-color: #f19e50d0;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  min-height: 100vh;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p{
  color: #443637;
}

.text {
  font-family: "Imstory";
  font-size: 25px;
}

.catchphrase {
  font-family: "Imstory";
  font-size: 50px;
  max-width: 40vw;
}

.search-container{
  justify-content: center;
}

.search-input{
  min-width: 50%;
  margin-right: 40px;
  min-height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.search-button{
  max-width: 40px;
  max-height: 40px;
}

.illustration {
  max-width: 30vw;
  max-height: 30vw;
  margin-left: 100px;
}

.cards-container {
  background-color: white;
  justify-content: space-evenly;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: min-content;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  
}

.card {
  display: block;
  text-align: center;
  max-width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
  flex: 1;
  margin-right: 100px;
  margin-left: 100px;
}


.price-text{
  font-size: 19px;
}

.price-value{
  font-family:'Times New Roman', Times, serif;
}

.price-buy-container{
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.book-cover {
  max-width: 300px;
  max-height: 300px;
}

.button{
  text-decoration: none;
  color: white;
  font-size: 19px;
  background-color: #f04444;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.card:hover {
  background-color: #f04444;
  border-radius: 20px;
}

.card:hover p{
  color: white;
}

.card:hover .button{
  background-color: white;
  color: #f04444;
}
